<link href="~/Content/comment.css" rel="stylesheet" />

@model AdvertBoard.Models.Comment.CommentViewModel
@{
    var path = Url.Action("Add", "Comment");
    <form class = "commentForm" onsubmit="return addComment(this, '@path')">
        @Html.HiddenFor(x => x.AdvertId)
        <div class="row">
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.Content, new {placeholder = "Write a comment", @class = "form-control commentTextBox", @id = "commentInput"})
                @Html.ValidationMessageFor(x => x.Content, "", new {@class = "text-danger"})
            </div>
            <div class="col-md-2">
                <input type="submit" class="btn btn-success addCommentButton" />

            </div>
        </div>
    </form>
}

<script>
    function addComment(comment, path) {
        var data = $(comment).serialize();
        console.log(data);
        $.ajax({
            url: path,
            data: data,
            method: "POST",
            success: function (response) {
                $('#commentsList').prepend(response);
                $('#commentInput').val('');
            }
        });
        return false;
    }
</script>