<link href="~/Content/comment.css" rel="stylesheet" />

@model AdvertBoard.Models.Comment.CommentViewModel

<div>
    <div class="ownerCommentLabel">
        @Html.DisplayFor(x => x.Owner.FirstName)
        @Html.DisplayFor(x => x.Owner.LastName) <br />
    </div>
    <div class="commentDisplay">
        @Html.DisplayFor(x => x.Content, new { @class = "commentDisplay" })
    </div>

</div>
