.category {
    width: 300px;
    height: 100px;
    color: green;
    background-color: white;
    display: table-cell;
    text-align: center;
}

.categoryContainer {
    margin-bottom: 50px;
}

.categoriesLabel {
    margin-bottom: 50px;
}