.category {
    width: 300px;
    height: 100px;
    color: green;
    background-color: white;
    display: table-cell;
    text-align: center;
}

.categoryContainer {
    margin-bottom: 50px;
}

.categoriesLabel {
    margin-bottom: 50px;
}

.categoryTitle {
    color: #47A447;
}

.titleColumn {
    width: 700px;
}

.advertRow {
    height: 70px;
    cursor: pointer;
}

.titleDisplay {
    font-size: 25px;
}